<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peapod.matchflare"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.peapod.matchflare.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.peapod.matchflare.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PresentMatchesActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name=".GCMBroadcastReceiverCompat"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.peapod.matchflare" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".NotificationActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".PresentMatchesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Matchflare"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EvaluateActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".NotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Matchflare"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Matchflare"
            android:screenOrientation="portrait">
        </activity>
        <!-- <activity -->
        <!-- android:name="com.peapod.matchflare.RegistrationActivity" -->
        <!-- android:label="Matchflare" > -->


        <!-- </activity> -->
        <activity
            android:name=".VerificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Matchflare"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CropImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Matchflare"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Matchflare"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewMatchActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".NotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Matchflare"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:parentActivityName=".PresentMatchesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Matchflare"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
